/* p 요소중에 첫번째 자식을 선택 */
p:first-child {  /* 1st && p */
    color: gold;
}

/* p 요소중에 마지막 자식을 선택 */
p:last-child { /* last && p */
    color: silver;
}

/* 4th && p */
p:nth-child(4) {
    color: white;
}

/* 1st in articles */
article:first-of-type {
    background-color: red;
}

/* 2nd in articles */
article:nth-of-type(2) {
    background-color: green;
}

/* 2nd last in articles */
article:nth-last-of-type(2) {
    background-color: blue;
}

/* last in articles */
article:last-of-type {
    background-color: black;
}

/* pseudo class selector */
/* 상태에 따라 클래스를 바꾼다 */
/* selector:가상-클래스 */
a {
    text-decoration: none;
    color: black;
}

/* 방문하지 않은 link */
a:link {
    color: red;
}

a:hover {
    color: orange;
}

/* 방문한 link */
a:visited {
    color: blueviolet;
}

input:focus {
    background-color: black;
    color: white;
}