{% extends 'base.html' %}

{% block title %}
    Article detail
{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <div>
        <small>created: {{ article.created_at }}</small>
        <small>updated: {{ article.updated_at }}</small>
    </div>
    <p>{{ article.content }}</p>
    
    {% include 'board/_comment.html' %}

    <div>
        <a href="{% url 'board:article_list'%}">
            <button>List</button>
        </a>
    </div>
    <div>
        <a href="{% url 'board:edit_article' article.id %}">
            <button>Edit</button>
        </a>
    </div>
    <div>
        <form action="{% url 'board:delete_article' article.id %}" method="POST">
            {% csrf_token %}
            <input id="delButton" type="submit" value="Delete">
        </form>
    </div>

    {% comment %} <script>
        const delButton = document.querySelector('#delButton');
        function popUp () {
            return confirm('isReal?');
        }

        delButton.addEventListener('mouseover', popUp);
    </script> {% endcomment %}
{% endblock %}