{% extends 'board/base.html' %}

{% block title %}
    Article detail
{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <div>
        <a href="{% url 'board:list'%}">
            <button>List</button>
        </a>
    </div>
    <div>
        <a href="{% url 'board:edit' article.id %}">
            <button>Edit</button>
        </a>
    </div>
    <div>
        <form action="{% url 'board:delete' article.id %}" method="POST">
            {% csrf_token %}
            <input id="delButton" type="submit" value="Delete">
        </form>
    </div>

    <script>
        const delButton = document.querySelector('#delButton');
        function popUp () {
            return confirm('isReal?');
        }

        delButton.addEventListener('mouseover', popUp);
    </script>
{% endblock %}