<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Make art</title>
</head>
<body>
    <h1>Put some text</h1>
    <form action="/result">
        <h1>
            <input type="text" name="input_text"> 
            <select name="font">
                <option value="random">random</option>
                <option value="block">block</option>
                <option value="white_bubble">white bubble</option>    
            </select> 
            <input type="submit">
        </h1>
    </form>
</body>
</html>